.navbar {
    .navbar__content {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navbar__left {
            display: flex;
            align-items: center;

            .navbar__logo {
                margin-right: 117px;
            }

            .navbar__menu {
                display: flex;
            }
        }

        .navbar__items {
            margin-right: 21px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #737373;

        }
    }
}